Repository m-ruban/gg-ukit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax=less, git add ., eslint --fix

post install and hooks
  .eslintrc
  package.json
  src/index.jsx
Due: git add ., eslint --fix

update favicon
  public/favicon.ico
Due: none

storybook
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package.json
  src/index.jsx
  src/stories/Button.jsx
  src/stories/Button.stories.jsx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/storybook-button.less
  src/test.less
  yarn.lock
Due: stylelint --syntax=less, git add ., eslint --fix

add headers and links
  .gitignore
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  src/components/Button/button.less
  src/components/Button/index.tsx
  src/components/Header/BasicHeader.tsx
  src/components/Header/header.less
  src/components/Header/index.tsx
  src/components/Link/index.tsx
  src/components/Link/link.less
  src/index.jsx
  src/stories/Button.jsx
  src/stories/Button.stories.tsx
  src/stories/Headers.stories.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Link.stories.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/repo.svg
  src/stories/utils/index.ts
  src/styles/colors.less
  src/styles/defaults.css
  src/styles/fonts.less
  src/styles/woff2/Montserrat-Bold.woff2
  src/test.less
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: stylelint --syntax=less, git add ., eslint --fix

paragraph
  .storybook/preview-head.html
  .storybook/preview.js
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Breadcrumbs/index.tsx
  src/components/Button/button.less
  src/components/Button/index.tsx
  src/components/Header/BasicHeader.tsx
  src/components/Header/header.less
  src/components/Header/index.tsx
  src/components/Link/index.tsx
  src/components/Paragraph/index.tsx
  src/components/Paragraph/paragraph.less
  src/stories/Breadcrumbs.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/Headers.stories.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Link.stories.tsx
  src/stories/Paragraph.stories.tsx
  src/stories/utils/CustomDocsPage.tsx
  src/styles/description.css
Due: stylelint --syntax=less, git add ., eslint --fix

columns and images
  .storybook/main.js
  .stylelintrc
  package.json
  public/assets/example_origin.jpeg
  public/assets/example_preload.jpeg
  public/defaults.css
  public/description.css
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Column/column.less
  src/components/Column/index.tsx
  src/components/ColumnsWrapper/columnsWrapper.less
  src/components/ColumnsWrapper/index.tsx
  src/components/Header/header.less
  src/components/Image/image.less
  src/components/Image/index.tsx
  src/components/Link/link.less
  src/components/Paragraph/index.tsx
  src/components/Paragraph/paragraph.less
  src/stories/Column.stories.tsx
  src/stories/ColumnWrapper.stories.tsx
  src/stories/Image.stories.tsx
  src/stories/Link.stories.tsx
  src/stories/Paragraph.stories.tsx
  src/stories/assets/colors.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/stackalt.svg
  src/styles/columns.less
  src/styles/defaults.less
  src/styles/font-sizes.less
  src/styles/fonts.less
  src/styles/screen.less
  yarn.lock
Due: stylelint --syntax=less, git add ., eslint --fix

hover and linked image
  public/description.css
  src/components/Icon/IconWrapper.tsx
  src/components/Image/image.less
  src/components/Image/index.tsx
  src/stories/Header.stories.tsx
  src/stories/Image.stories.tsx
  src/stories/Link.stories.tsx
Due: stylelint --syntax=less, git add .

modals and modal images
  package.json
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Breadcrumbs/index.tsx
  src/components/Image/image.less
  src/components/Image/index.tsx
  src/components/Link/index.tsx
  src/components/Link/link.less
  src/components/Modal/index.tsx
  src/components/Modal/modal.less
  src/components/Modal/utils.tsx
  src/modules/colors.ts
  src/modules/support.ts
  src/stories/Image.stories.tsx
  src/stories/Modal.stories.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: stylelint --syntax=less, git add ., eslint --fix

button
  public/defaults.css
  src/components/Button/button.less
  src/components/Button/index.tsx
  src/stories/Button.stories.tsx
  src/styles/defaults.less
Due: stylelint --syntax=less, git add .

breadcrumbs and modal fix
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Breadcrumbs/index.tsx
  src/components/Button/index.tsx
  src/stories/Breadcrumbs.stories.tsx
  src/stories/Modal.stories.tsx
Due: stylelint --syntax=less, git add .

slider
  public/assets/example_preload_2.jpeg
  src/components/Button/button.less
  src/components/Image/FullSizeImage.tsx
  src/components/Image/image.less
  src/components/Image/index.tsx
  src/components/Modal/index.tsx
  src/components/Slider/index.tsx
  src/components/Slider/slider.less
  src/stories/Image.stories.tsx
  src/stories/Slider.stories.tsx
Due: stylelint --syntax=less, git add .

input and control group
  src/components/Button/button.less
  src/components/Button/index.tsx
  src/components/GroupControl/groupControl.less
  src/components/GroupControl/index.tsx
  src/components/Input/index.tsx
  src/components/Input/input.less
  src/components/Slider/index.tsx
  src/components/Slider/slider.less
  src/stories/Button.stories.tsx
  src/stories/GroupControl.stories.tsx
  src/stories/Input.stories.tsx
Due: stylelint --syntax=less, git add .

pager
  src/components/Button/button.less
  src/components/Modal/index.tsx
  src/components/Pager/index.tsx
  src/components/Pager/pager.less
  src/components/Paragraph/paragraph.less
  src/stories/Pager.stories.tsx
Due: stylelint --syntax=less, git add .

tooltip
  src/components/Tooltip/index.tsx
  src/components/Tooltip/tooltip.less
  src/stories/Tooltip.stories.tsx
Due: stylelint --syntax=less, git add .

note
  src/components/Note/index.tsx
  src/components/Note/note.less
  src/components/Tooltip/tooltip.less
  src/stories/Note.stories.tsx
Due: stylelint --syntax=less, git add .

img refactoring
  src/components/Image/FramedImage.tsx
  src/components/Image/FullSizeImage.tsx
  src/components/Image/HoveredImage.tsx
  src/components/Image/framedImage.less
  src/components/Image/hoveredImage.less
  src/components/Image/image.less
  src/components/Image/index.tsx
  src/components/Slider/index.tsx
  src/components/Slider/slider.less
  src/stories/FramedImage.stories.tsx
  src/stories/HoveredImage.stories.tsx
  src/stories/Image.stories.tsx
  src/stories/Slider.stories.tsx
  src/styles/mixins.less
Due: stylelint --syntax=less, git add .

slider with multi slides
  src/components/Slider/Arrows.tsx
  src/components/Slider/index.tsx
  src/components/Slider/slider.less
  src/stories/Slider.stories.tsx
Due: stylelint --syntax=less, git add .

clear dependencies
  package.json
  public/index.html
  src/components/Breadcrumbs/index.tsx
  src/index.jsx
  webpack.config.js
  yarn.lock
Due: git add ., eslint --fix

add collapse
  src/components/Collapse/collapse.less
  src/components/Collapse/index.tsx
  src/stories/Collapse.stories.tsx
Due: stylelint --syntax=less, git add .

collapse refactoring
  src/components/Collapse/collapse.less
  src/components/Collapse/index.tsx
  src/components/Image/framedImage.less
  src/components/List/index.tsx
  src/components/List/list-icon.svg
  src/components/List/list.less
  src/components/Note/note.less
  src/components/Paragraph/paragraph.less
  src/components/Slider/slider.less
  src/stories/Collapse.stories.tsx
  src/stories/List.stories.tsx
  src/styles/mixins.less
Due: stylelint --syntax=less, git add .

deploy static
  .gitignore
  package.json
Due: none

prepare for public into npm
  .eslintignore
  .gitignore
  .npmignore
  .npmrc
  .storybook/preview.js
  README.md
  babel.config.js
  gulp/index.js
  gulp/task-build-js.js
  gulp/task-clean.js
  gulp/task-lint-js.js
  gulp/task-raw-copy.js
  gulp/task-styles.js
  gulpfile.js
  package.json
  src/components/Modal/utils.tsx
  src/stories/Breadcrumbs.stories.tsx
  src/stories/Collapse.stories.tsx
  src/stories/Column.stories.tsx
  src/stories/ColumnWrapper.stories.tsx
  src/stories/CustomDocsPage.utils.tsx
  src/stories/FramedImage.stories.tsx
  src/stories/Header.stories.tsx
  src/stories/HoveredImage.stories.tsx
  src/stories/Icon.stories.tsx
  src/stories/Image.stories.tsx
  src/stories/Link.stories.tsx
  src/stories/Paragraph.stories.tsx
  src/stories/utils/index.ts
  yarn.lock
Due: git add ., eslint --fix

fix gulp task for fonts
  gulp/task-raw-copy.js
Due: git add ., eslint --fix

fix gulp task for fonts and up version
  package.json
Due: none

breadcrumbs
  src/components/Breadcrumbs/index.tsx
  src/components/Icon/ArrowRight.tsx
Due: none

breadcrumbs
  package.json
Due: none

breadcrumbs
  package.json
  src/components/Icon/HomeAlt.tsx
Due: none

clean task
  gulp/task-clean.js
  package.json
Due: git add ., eslint --fix

fix modal paths
  gulp/task-raw-copy.js
  package.json
  src/components/Link/link.less
  src/components/Modal/index.tsx
  src/components/Pager/pager.less
  src/stories/FramedImage.stories.tsx
Due: stylelint --syntax=less, git add ., eslint --fix

test
  .lintstagedrc
  .lintstagedrc.js
Due: git add ., eslint --fix

fix slider
  package.json
  src/components/Slider/index.tsx
Due: none

fix hooks for external install
  gulp/index.js
  gulp/task-copy-package.js
  package.json
  yarn.lock
Due: git add ., eslint --fix

up versions
  package.json
Due: none

add ts checks
  .lintstagedrc.js
  package.json
Due: git add ., eslint --fix

add compile types
  package.json
  tsconfig-compile.json
Due: none

add types to lib
  package.json
  tsconfig-compile.json
  tsconfig.json
Due: none

Path conditions:
  stylelint --syntax=less: any of: *.less
  git add .: (any of: *.less) or (any of: *.{js,jsx})
  eslint --fix: any of: *.{js,jsx}
