Repository m-ruban/gg-ukit: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax=less, git add ., eslint --fix

server env for modal
  package.json
  src/components/Modal/index.tsx
Due: none

column fix
  src/components/ColumnsWrapper/columnsWrapper.less
  src/stories/Column.stories.tsx
  src/styles/screen.less
Due: stylelint --syntax=less, git add .

up version
  package.json
Due: none

fix link interface
  package.json
  src/components/Link/index.tsx
  src/components/Modal/index.tsx
Due: none

fix column align and add container
  package.json
  src/components/Column/column.less
  src/components/Column/index.tsx
Due: stylelint --syntax=less, git add .

fix hover mobile image
  package.json
  src/components/Image/HoveredImage.tsx
Due: none

use new hover image logic
  package.json
  src/components/Image/FramedImage.tsx
  src/components/Image/HoveredImage.tsx
  src/components/Image/hoveredImage.less
  src/components/Image/index.tsx
  src/components/Link/link.less
  src/stories/FramedImage.stories.tsx
  src/stories/HoveredImage.stories.tsx
  src/stories/Slider.stories.tsx
Due: stylelint --syntax=less, git add .

fix style lint
  src/components/Link/link.less
Due: stylelint --syntax=less, git add .

fix multiline hover link
  package.json
  src/components/Link/link.less
Due: stylelint --syntax=less, git add .

update link animation
  package.json
  src/components/Link/link.less
Due: stylelint --syntax=less, git add .

add btn animation
  package.json
  src/components/Button/button.less
Due: stylelint --syntax=less, git add .

pager refactoring and interfaces export
  package.json
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Breadcrumbs/index.tsx
  src/components/Button/index.tsx
  src/components/Collapse/index.tsx
  src/components/Column/index.tsx
  src/components/ColumnsWrapper/index.tsx
  src/components/GroupControl/index.tsx
  src/components/Header/BasicHeader.tsx
  src/components/Header/index.tsx
  src/components/Icon/IconWrapper.tsx
  src/components/Image/FramedImage.tsx
  src/components/Image/index.tsx
  src/components/Input/index.tsx
  src/components/Link/index.tsx
  src/components/List/index.tsx
  src/components/Modal/index.tsx
  src/components/Note/index.tsx
  src/components/Pager/index.tsx
  src/components/Pager/pager.less
  src/components/Paragraph/index.tsx
  src/components/Slider/Arrows.tsx
  src/components/Slider/index.tsx
  src/components/Tooltip/index.tsx
  src/stories/Pager.stories.tsx
Due: stylelint --syntax=less, git add .

fix pager link import
  package.json
  src/components/Pager/index.tsx
Due: none

fix pager padding
  package.json
  src/components/Pager/index.tsx
  src/components/Pager/pager.less
Due: stylelint --syntax=less, git add .

fix slider scroll
  package.json
  src/components/Slider/index.tsx
Due: none

breadcrumbs home logic
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Breadcrumbs/index.tsx
Due: stylelint --syntax=less, git add .

add z-index for tooltip
  src/components/Tooltip/tooltip.less
Due: stylelint --syntax=less, git add .

unused styles
  src/components/Button/button.less
Due: stylelint --syntax=less, git add .

add loading img property and new hover xs view
  src/components/Image/FramedImage.tsx
  src/components/Image/HoveredImage.tsx
  src/components/Image/framedImage.less
  src/components/Image/hoveredImage.less
  src/components/Image/index.tsx
Due: stylelint --syntax=less, git add .

new list mark
  src/components/List/list.less
Due: stylelint --syntax=less, git add .

add scroller component
  src/components/Scroller/index.tsx
  src/components/Scroller/scroller.less
Due: stylelint --syntax=less, git add .

update basic text size
  src/styles/mixins.less
Due: stylelint --syntax=less, git add .

use scroller for slider preview
  src/components/Slider/index.tsx
  src/components/Slider/slider.less
  src/stories/Slider.stories.tsx
Due: stylelint --syntax=less, git add .

update version
  package.json
Due: none

update alias and up version
  package.json
  src/components/Scroller/index.tsx
Due: none

update text line height
  package.json
  src/styles/mixins.less
Due: stylelint --syntax=less, git add .

fix overflow scroller
  package.json
  src/components/Modal/modal.less
  src/components/Scroller/scroller.less
Due: stylelint --syntax=less, git add .

add chip and fix input
  src/components/Chip/chip.less
  src/components/Chip/index.tsx
  src/components/GroupControl/groupControl.less
  src/components/GroupControl/index.tsx
  src/components/Input/index.tsx
  src/components/Input/input.less
  src/stories/Chip.stories.tsx
  src/stories/GroupControl.stories.tsx
Due: stylelint --syntax=less, git add .

`less-to-css` transpile css gulp task
  gulp/task-raw-copy.js
  gulp/task-transpile-css.js
Due: git add ., eslint --fix

`less-to-css` add dev dependencies
  package.json
  yarn.lock
Due: none

`less-to-css` resolve css imports gulp task
  gulp/task-resolve-css-imports.js
Due: git add ., eslint --fix

`less-to-css` rename gulp tasks
  gulp/index.js
  gulp/task-lint-css.js
  gulp/task-transpile-js.js
  package.json
Due: git add ., eslint --fix

`less-to-css` optimize imports search
  gulp/task-raw-copy.js
  gulp/task-resolve-css-imports.js
Due: git add ., eslint --fix

`global-less-path` add streamTransform utils
  gulp/task-resolve-css-imports.js
  gulp/task-transpile-css.js
  gulp/utils/streamTransform.js
Due: git add ., eslint --fix

`global-less-path` add less-plugin-module-resolver
  package.json
  yarn.lock
Due: none

`global-less-path` use less-plugin-module-resolver & remove storybook-less-loader
  .storybook/main.js
  gulp/task-transpile-css.js
  package.json
  yarn.lock
Due: git add ., eslint --fix

`global-less-path` replace relative path imports
  src/components/Breadcrumbs/breadcrumbs.less
  src/components/Button/button.less
  src/components/Chip/chip.less
  src/components/Column/column.less
  src/components/ColumnsWrapper/columnsWrapper.less
  src/components/GroupControl/groupControl.less
  src/components/Header/header.less
  src/components/Image/framedImage.less
  src/components/Image/hoveredImage.less
  src/components/Image/image.less
  src/components/Input/input.less
  src/components/Link/link.less
  src/components/List/list.less
  src/components/Modal/modal.less
  src/components/Note/note.less
  src/components/Pager/pager.less
  src/components/Paragraph/paragraph.less
  src/components/Slider/slider.less
  src/components/Tooltip/tooltip.less
  src/styles/fonts.less
  src/styles/mixins.less
Due: stylelint --syntax=less, git add .

`global-less-path` up version
  package.json
Due: none

Path conditions:
  stylelint --syntax=less: any of: *.less
  git add .: (any of: *.less) or (any of: *.{js,jsx})
  eslint --fix: any of: *.{js,jsx}
